/*Ab hir sin die Buttons*/

body {
    color: #5f6368;
    line-height: 1.65em;
    -webkit-touch-callout: none;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto 430px;
    grid-template-areas: "header" "main" "footer";
}

figcaption {
    font-size: .8rem;
    padding: 15px;
    font-size: 15px;
}

img {
    margin: 10px;
}

.page_title {
    font-size: 20px;
    margin: 10px;
}

div.figure {
    float: center;
    width: 30%;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    clear: both;
    display: block;
}

img.scaled {
    width: 90%;
}

.al {
    left: 0px;
    position: absolute;
}

.fullscreen {
    width: 50%;
    height: auto;
    left: 0px;
}

footer {
    grid-area: footer;
    height: 130px;
    max-width: 100%;
    background: #0e274c;
    display: block;
}